body{
    /* Nintendo Red */
    background-color: rgb(230 0 18);

}
.mainContent{
    text-align: center;
}
#drawingBoard{
    background-color: white;
    width: 400px;
    height: 400px;
    
}
.regulator{
    border: 10px solid #bbb;
    border-top: 10px solid black;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
}